@use '../base' as *;
@use '../abstracts' as *;

.file-button {
    width: 30px;
    height: 30px;
    border-radius: .35rem;
    cursor: pointer;
    border: 1px solid var(--clr-neutral-500);
    display: grid;
    place-items: center;
    transition: .2s ease;

    &:hover {
        background-color: var(--clr-neutral-500);
    }

    input {
        display: none;
    }
}