@use '../base' as *;
@use '../abstracts' as *;

.section-intro-link {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    gap: .75rem;

    &__drawing {
        z-index: 2;
        max-width: 180px;

        &[data-overlaplevel="1"] {
            margin-bottom: -3rem;
        }

        &[data-overlaplevel="2"] {
            margin-bottom: -4.1rem;

            @media(min-width: map-get($breakpoints, md)) {
                margin-bottom: -5.1rem;
            }
        }
    }

    &__title {
        align-self: flex-start;

        &.center {
            align-self: center;
        }
    }

    &.right {
        justify-content: space-between;
    }

    @media(min-width: map-get($breakpoints, sm)) {

        &__drawing {
            align-self: flex-end;
            max-width: 220px;
        }

        flex-direction: row;

        &.right {
            flex-direction: row-reverse;
        }
    }
}