@use '../base' as *;
@use '../abstracts' as *;

.partner-logos {
    max-width: 50rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: min(6vw, 1.5rem);
    margin-bottom: 2rem;

    img {
        max-width: 120px;
        object-fit: contain;
    }
}