*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

b {
    font-weight: 700;
}

html {
    scroll-behavior: auto;
}

i {
    font-style: italic;
}

ul {
    list-style: none;
    padding: 0;
}


details>summary {
    list-style: none;
}

details>summary::marker,
details>summary::-webkit-details-marker {
    display: none;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: currentColor;
}

img,
picture,
svg,
video {
    max-width: 100%;
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}