@use '../../base' as *;
@use '../../abstracts' as *;

.checkout {
    margin-inline: auto;
    min-height: calc(100vh - 8rem);
    width: min(90%, 25rem);

    h1 {
        text-align: center;
    }

    .button:not(.payment-complete__button) {
        width: 100%;
        margin-inline: auto;
        margin-top: 1rem;
        min-width: 5rem;
        justify-content: center;
    }

    &__info--mobile {
        display: none;
    }

    @media(min-width: 900px) {
        width: min(90%, 60rem);

        &__form-wrapper {
            padding-left: 5rem;
            border-left: 1px solid var(--clr-neutral-500);
        }

        &__info--mobile {
            display: block;
        }

        &__info--desktop {
            display: none;
        }

        &__grid {
            height: 100%;
            margin-top: 5rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &__info {
            margin-right: 5rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;

        @media(min-width: 400px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        padding-block: .75rem;
        margin-top: 0;

        &:not(:last-child) {
            border-bottom: 1px solid var(--clr-neutral-525);
        }
    }
}