@use '../base' as *;
@use '../abstracts' as *;

.footer {
    border-top: 1px solid var(--clr-neutral-500);
    padding-block: min(12vw, 5rem);

    &__logo {
        margin-top: -.5rem;
        margin-left: -.8rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media(min-width: map-get($breakpoints, md)) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.footer-nav {
    column-count: 2;

    @media(min-width: map-get($breakpoints, sm)) {
        column-count: 3;
        gap: min(10vw, 10rem);
    }

    @media(min-width: map-get($breakpoints, lg)) {
        margin-right: min(10vw, 5rem);
    }

    &>div {
        font-size: .94rem;
        break-inside: avoid;
        margin-bottom: min(10vw, 2.5rem);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &__list-title {
        line-height: 1;
        margin-bottom: .5rem;
        font-weight: 600;

    }
}

.footer-socials {

    &__list {
        margin-block: .75rem;
        gap: .5rem;
    }

    &__link {
        display: inline-block;
        padding: .3rem;
        border-radius: .3rem;
        transition: .15s ease;

        svg {
            pointer-events: none;
        }

        &:hover,
        &:focus-within {
            background-color: var(--clr-neutral-400);
        }
    }
}