@use '../base' as *;
@use '../abstracts' as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: .5rem;
    padding-left: .5rem;
    padding-right: 1rem;
}